
body {
    font-family: Arial, sans-serif;
    background-color: #002366; /* Dark blue background */
    color: white; /* White text for contrast */
    margin: 100;
    padding: 0;
}

header {
    background-color: #000080; /* Navy blue */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    color: #ffcc00; /* Bright yellow */
}

ul {
    list-style-type: square;
}

.fidget-photo {
    width: 90px; /* Small image size */
    height: auto;
}

.fidgetland-icon {
    width: 1300px;
    height: auto;
}
h2 {
    color: #ffcc00;
}
{ @media (max-width: 768px) {
    html {
        border: 10px solid #4CAF50
    }
    p { 
        font-size: 30px;
    }
    body { 
font-family: Arial, sans-serif;
    background-color: #002366; /* Dark blue background */
    color: white; /* White text for contrast */
    margin: 100;
    padding: 0;
    }
    .fidgetland-icon {
        width: 200px;
        hight: auto;
}
    .fidget-photo {
    width: 150px; /* Small image size */
    height: auto;
}
}
html {
    border: 10px; solid #4CAF50
}
